{% extends 'base.html.twig' %}

{% block title %}Správa uživatelů{% endblock %}
{% block body %}
    <h2>{% trans %}user.manager{% endtrans %}</h2>
    <div class="row">
        <div class="col pb-2">
            <a role="button" href="{{ path('user_editor') }}" class="btn btn-primary">{% trans %}add.user{% endtrans %}</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-responsive">
            <tr>
                <th>ID</th>
                <th>{% trans %}name{% endtrans %}</th>
                <th>{% trans %}email{% endtrans %}</th>
                <th>{% trans %}note{% endtrans %}</th>
                <th>{% trans %}role{% endtrans %}</th>
                <th>{% trans %}action{% endtrans %}</th>
            </tr>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.note }}</td>
                    <td>{{ user.role.name }}</td>
                    <td><a class="btn btn-warning" href="{{ path('user_editor', {'id': user.id}) }}" role="button">{% trans %}edit{% endtrans %}</a>
                        <a class="btn btn-danger" href="{{ path('remove_user', {'id': user.id}) }}" role="button">{% trans %}delete{% endtrans %}</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}